src/main/resources/wsdltemp/shopRelation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendCvsJh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cvsJhList" type="tns:ArrayOfCvsJh" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCvsJh">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CvsJh" nillable="true" type="tns:CvsJh" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CvsJh">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="VBELN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WADAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PluCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JhCount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDAUF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDPOS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendCvsJhResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendCvsJhResult" type="tns:RetInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Remark" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendCvsJhSoapIn">
    <wsdl:part name="parameters" element="tns:SendCvsJh" />
  </wsdl:message>
  <wsdl:message name="SendCvsJhSoapOut">
    <wsdl:part name="parameters" element="tns:SendCvsJhResponse" />
  </wsdl:message>
  <wsdl:portType name="HsCvsJhSoap">
    <wsdl:operation name="SendCvsJh">
      <wsdl:input message="tns:SendCvsJhSoapIn" />
      <wsdl:output message="tns:SendCvsJhSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HsCvsJhSoap" type="tns:HsCvsJhSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendCvsJh">
      <soap:operation soapAction="http://tempuri.org/SendCvsJh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HsCvsJhSoap12" type="tns:HsCvsJhSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendCvsJh">
      <soap12:operation soapAction="http://tempuri.org/SendCvsJh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HsCvsJh">
    <wsdl:port name="HsCvsJhSoap" binding="tns:HsCvsJhSoap">
      <soap:address location="http://localhost/jmWebService/HsCvsJh.asmx" />
    </wsdl:port>
    <wsdl:port name="HsCvsJhSoap12" binding="tns:HsCvsJhSoap12">
      <soap12:address location="http://localhost/jmWebService/HsCvsJh.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>